{% load static %}
<header class="ft-top">
  <a href="{{ floor_home_url }}" class="ft-top__brand">
    <img class="ft-top__crest" src="{% static 'brand/mmcm-crest.png' %}" alt="">
    <span class="ft-top__mark">FluxTrack</span>
  </a>
  <div class="relative inline-flex" style="margin-left:auto">
    {% include "notifications/_bell.html" %}
  </div>
  <details class="ft-acct" style="margin-left:0">
    <summary class="ft-top__avatar" aria-label="Account and sign out">{{ user.first_name|default:user.username|slice:":1"|upper }}{{ user.last_name|slice:":1"|upper }}</summary>
    <div class="ft-acct__menu">
      <div class="ft-acct__who">
        <b>{{ user.get_full_name|default:user.username }}</b>
        <span>{{ user.get_role_display }}{% if user.department %} &middot; {{ user.department.name }}{% endif %}</span>
      </div>
      {% if user.role == "faculty" %}
      <a class="ft-acct__item" href="{% url 'faculty_profile' %}">
        <uk-icon icon="user"></uk-icon> Profile
      </a>
      {% endif %}
      <a class="ft-acct__item" href="/logout">
        <uk-icon icon="log-out"></uk-icon> Sign out
      </a>
    </div>
  </details>
</header>
